
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

 
body {  
    font-family: cursive; 
    background-color: rgba(247, 247, 241, 0.861);  
    color: #e3d80f;  
    line-height: 1.5;  
    background-image: url("images/techlogo.jpeg");  
    background-size: cover;  
    background-repeat: no-repeat;  
  }  
  


header, footer {
    background-color: #a19d9d;
    color: #171717;
    padding: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #121010;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}
.form-input {  
    width: 100%;  
    padding: 10px;  
    margin-bottom: 20px;  
    border: 1px solid #ccc;  
}  
  
.form-input:focus {  
    border-color: #aaa;  
}  
  
#submit-btn {  
    background-color: #b4b7b4;  
    color: #fff;  
    padding: 10px 20px;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
}  
  
#submit-btn:hover {  
    background-color: #010701;  
}